- form_tag(compare_path) do 
  = label_tag "Your Twitter Name"
  %br
  = text_field_tag "me"
  %br
  = label_tag "Who are you comparing your friends to?"
  %br
  = text_field_tag "friend"
  %br
  = submit_tag "Mutual Friends"
  
